#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>//蓝牙功能控制按钮
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/ext_power.h>//电池管理
#include <dt-bindings/zmk/rgb.h>

#define L0     0
#define L1     1
#define L2     2
#define L3     3
/ {




    behaviors {
    }
    macros {
        td0:td0{
                label = "qiehuan_MACOS";
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings
                    = <&macro_tap &tog MACOS>
                    , <&macro_tap &tog FKEYS>
                    ;
        };
        // td1:td1{
        //         label = "qiehuan_FKEYS";
        //         compatible = "zmk,behavior-macro";
        //         #binding-cells = <0>;
        //         bindings
        //             = <&macro_tap &tog FKEYS>
        //             , <&macro_tap &tog MACOS>
        //             ;
        // };
    }

    keymap {
        compatible = "zmk,keymap";

        L0 {//0
            display-name = "Layer0";

            bindings = <
//---------------------------------------------------------------+                            +---------------------------------------------------------------//
//          |         |          |           |          |        |                            |           |       |           |         |          |           // 
  &kp GRAVE   &kp Q     &bt BT_CLR  &kp E  &bt BT_CLR_ALL &bt BT_NXT                              &bt BT_CLR_ALL   &kp A   &kp S  &kp D   &kp P     &trans
//          |         |          |           |          |        |                            |           |       |           |         |          |           //
    &kp A    &kp A     &kp S      &kp D        &kp F     &kp G                                      &kp H   &kp J     &kp K      &kp L    &kp SEMI    &kp SQT
//          |         |          |           |          |        +-----------+    +-----------|           |       |           |         |          |           //
    &kp A     &kp Z     &kp X      &kp C        &kp V     &kp B     &kp F16          &kp F17    &kp N   &kp M   &kp COMMA   &kp DOT    &kp FSLH     &kp G
//--------------------|          |           |          |        |           |    |           |           |       |           |--------------------------------//  
                        &kp LALT   &kp LCTRL     &kp A    &kp A    &kp A        &kp SPACE   &kp G    &kp G    &kp RCTRL   &kp DEL
//                    +----------|-----------|----------|--------------------+    +-----------|-----------|--------|-----------|---------+                      //
            >;
        };

        L1 {//1
            display-name = "Layer1";


            bindings = <
//-----------------------------------------------------------------+                        +------------------------------------------------------------------//
//          |          |          |          |          |          |                        |          |          |          |          |          |           // 
    &kp F1     &trans     &trans     &trans     &trans     &trans                              &trans     &trans     &trans     &trans     &trans     &trans
//          |          |          |          |          |          |                        |          |          |          |          |          |           //
    &trans     &trans     &trans     &trans     &trans     &trans                              &trans     &trans     &trans     &trans     &trans     &trans
//          |          |          |          |          |          +--------+     +---------|          |          |          |          |          |           // 
    &trans     &trans     &trans     &trans     &trans     &trans    &trans         &trans     &trans     &trans     &trans     &trans     &trans     &trans
//---------------------|          |          |          |          |        |     |         |          |          |          |          |----------------------//
                          &trans     &trans     &trans     &trans   &trans          &trans     &trans     &trans     &trans     &trans
//                     +----------|----------|----------|----------|--------+     +----------|---------|----------|----------|----------+                      //
            >;

        };

        L2 {//2
            display-name = "Layer2";


            bindings = <
//-----------------------------------------------------------------+                        +------------------------------------------------------------------//
//          |          |          |          |          |          |                        |          |          |          |          |          |           // 
    &kp F2     &trans     &trans     &trans     &trans     &trans                              &trans     &trans     &trans     &trans     &trans     &trans
//          |          |          |          |          |          |                        |          |          |          |          |          |           //
    &trans     &trans     &trans     &trans     &trans     &trans                              &trans     &trans     &trans     &trans     &trans     &trans
//          |          |          |          |          |          +--------+     +---------|          |          |          |          |          |           // 
    &trans     &trans     &trans     &trans     &trans     &trans    &trans         &trans     &trans     &trans     &trans     &trans     &trans     &trans
//---------------------|          |          |          |          |        |     |         |          |          |          |          |----------------------//
                          &trans     &trans     &trans     &trans   &trans          &trans     &trans     &trans     &trans     &trans
//                     +----------|----------|----------|----------|--------+     +----------|---------|----------|----------|----------+                      //
            >;
        };

        L3 {//3
            display-name = "Layer3";


            bindings = <
//-----------------------------------------------------------------+                        +------------------------------------------------------------------//
//          |          |          |          |          |          |                        |          |          |          |          |          |           // 
    &kp F3     &trans     &trans     &trans     &trans     &trans                              &trans     &trans     &trans     &trans     &trans     &trans
//          |          |          |          |          |          |                        |          |          |          |          |          |           //
    &trans     &trans     &trans     &trans     &trans     &trans                              &trans     &trans     &trans     &trans     &trans     &trans
//          |          |          |          |          |          +--------+     +---------|          |          |          |          |          |           // 
    &trans     &trans     &trans     &trans     &trans     &trans    &trans         &trans     &trans     &trans     &trans     &trans     &trans     &trans
//---------------------|          |          |          |          |        |     |         |          |          |          |          |----------------------//
                          &trans     &trans     &trans     &trans   &trans          &trans     &trans     &trans     &trans     &trans
//                     +----------|----------|----------|----------|--------+     +----------|---------|----------|----------|----------+                      //
            >;
        };
    };
};
