if SHIELD_ROLIO_LEFT
    # 定义键盘名称
    config ZMK_KEYBOARD_NAME
        default "yz_rolio"

    # 配置分体键盘的中心角色
    config ZMK_SPLIT_ROLE_CENTRAL
        default y

endif
if SHIELD_ROLIO_LEFT||SHIELD_ROLIO_RIGHT
config ZMK_SPLIT
    default y

# 启用蓝牙配对功能
config BT
    default y
config BT_PERIPHERAL
    default y
if ZMK_DISPLAY

config I2C
    default y

config SSD1306
    default y

endif # ZMK_DISPLAY

if LVGL

config LV_Z_VDB_SIZE
    default 64

config LV_DPI_DEF
    default 148

config LV_Z_BITS_PER_PIXEL
    default 1

choice LV_COLOR_DEPTH
    default LV_COLOR_DEPTH_1
endchoice

endif # LVGL

endif
